/*stylesheet for index.html, contact.html, portfolio.html WK01 HW01*/

* { /*not sure what * means */
    box-sizing: border-box;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    background-color: lightgray;
    color: #777;
}

/*the entire top bar name and navbar included*/
#topbar {
    font-family: Georgia, Times, 'Times New Roman', serif;
    display: block;
    position: fixed;
    width: 100%;
    background-color: #fff;
    border-bottom: 2px solid #ccc;
    padding: 18px;
}

/*the name on the top*/
.name {
    text-align: center;
    background-color: #4aaaa5;
    float: left;
    width: 250px;
    height: 80px;
    font-size: 25px;
    position: fixed;
    top: 0px;
    left: 125px;
    line-height: 95px;
    color: #fff;
    font-family: Georgia, Times, "Times New Roman", serif;
}

.horizontalNAV {
    float: right;
    margin-top: 25px;
    margin-right: 5px;
   
}

.horizontalNAV a {
    padding-left:5px;
    display: inline-block;
    line-height: 18px;
    color: #999;
    text-transform: uppercase;
    margin-left: 15px;
    text-decoration: none;
}

.horizontalNAV a:hover {
    color: #4aaaa5;
}

h1{
    font-family: Georgia, Times, "Times New Roman", serif;
    background-color: #4aaaa5;
    font-size: 30px;
    color: white;
}

h2 {
    color: #4aaaa5;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 22px;
    border-bottom: 2px solid gray;
    padding-bottom: 20px;
    line-height: 49px;
}

h3 {
    border-bottom: 2px solid gray;
    text-align: center;
    color: #4aaaa5;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
   
}

/*both 'about me' box & 'projects' box*/ 
article, form {
    width: 100%;
    float: left;
    max-width: 650px;
    padding: 30px;
    padding-top: 130px;
    margin-left: 45px;
    background: #fff;
    border: 1px solid #ddd;
    overflow: auto;
}



/*inside items of 'project' box*/
.project{
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
}

.project h4 {
    position: absolute;
    bottom: 10px;
    padding: 5px;
    margin-bottom: 0;
    color: #fff;
    text-align: center;
    background-color: #4aaaa5;
    margin-bottom: 0;
    border-bottom: 0;
  }



aside { /* entire sidebar*/
    float: right;
    height: 30%;
    width: 290px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin-top: 105px;
    margin-right: 250px;
    padding: 15px;
    max-width: 270px;
    margin-bottom: 20px;
   
}

.smedia{ /*each item in sidebar*/
    width: 62px;
    height: 62px;
    margin-top: 8px;
    margin-right: 5px;

}

textarea{
    height: 125px;
    width: 450px;
}

/*button styles*/
input, textarea {
    display: inline;
    float: none;
    background-color: #4aaaa5;
    color: #fff;
    cursor: pointer;
}

footer {
    color: #ccc;;
    background-color: #666666;
    border-top: 9px solid #4aaaa5;
    text-align: center;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    width: 100%;
    position: fixed;
    bottom: 0px;
    margin-top: 35px;
    padding-bottom: 50px;
    clear: both;
    font-size: 12px;
}